<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="header">
      <div class="title">
        <p><a href="/">Members Only Board</a></p>
      </div> 
      <div class="links">
      <% if(typeof(user)=="object" && user) { %>
        <p>Welcome Back <%= user.username %></p>
        <a href='/logout'><button>Log Out</button></a>
        <% } else {%>
        <a href="/login"><button>Sign In</button></a>
        <a href="/signup"><button>Sign Up</button></a>

        <% } %>
    </div>
  </div>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class=messages>

      <% if(typeof(messages)=='object' && messages) { %>
        <% for(let i=0; i<messages.length; i++) { %>
          <p>messages[i].text</p>
        <% } %>
        <% } %>

    </div>

    <% if(typeof(user)=='object' && user) { %>

      <div class='message-links'>
        <a href='/message/create'><button>Create New Message</button></a>
      </div>

      <% } %>
   

  </body>
</html>
