<!DOCTYPE html>

<html>
    <head>
        <title>Log In</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
        <div class="header">
            <div class="title">
                <p><%= title %></p>
            </div> 
            <div class="links">
                <% if(typeof(user)=="object" && user) { %>
                  <p>Welcome Back <%= user.username %></p>
                  <a href='/logout'><button>Log Out</button></a>
                  <% } else {%>
                  <a href="/login"><button>Sign In</button></a>
                  <a href="/signup"><button>Sign Up</button></a>
        
                  <% } %>
              </div>
        </div>

        <div class="log-in">
            <form action="/login" method="POST">
                <label for="username">Username:</label><br>
                <input type="text" name="username" placeholder="Enter Username" required><br>
                <label for="password">Password:</label><br>
                <input type="password" name="password" placeholder="Enter Password" required><br>
                <input type="submit" value="Submit">
            </form> 

            <% if(typeof(errors)=='object' && errors) {%>

                <ul>
                    <% for(let i=0; i<errors.length; i++) { %>
                        <li><%= errors[i].msg%></li>
                        <% } %>
                </ul>

                <% } %>

        </div>
    </body>
</html>