<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="header">
      <div class="title">
          <p><a href="/">Members Only Board</a></p>
      </div> 
      <div class="links">
      <% if(typeof(user)=="object" && user) { %>
        <p>Welcome Back <%= user.username %></p>
        <a href='/logout'><button>Log Out</button></a>
        <% } else {%>
        <a href="/login"><button>Sign In</button></a>
        <a href="/signup"><button>Sign Up</button></a>

        <% } %>
    </div>
  </div>

    <h1>Create New Post</h1>
   

    <div class=message-form>
        <p>Post By: <%= user.username %></p>
        
        <form action="/message/create" method="POST">
            <label for='title'>Title:</label><br>
            <input type="text" name="title"placeholder="Enter Title Here" required><br>
            <label for="text">What's on your mind?</label><br>
            <textarea cols="50" rows="20" name="text" placeholder="Enter Text Here"></textarea><br>
            <input type="submit">
        </form>
     
    </div>

    <div>
    <% if(typeof(errors)=='object' && errors) {%>

        <ul>
            <% for(let i=0; i<errors.length; i++) { %>
                <li><%= errors[i].msg%></li>
                <% } %>
        </ul>

        <% } %>
    </div>

  </body>
</html>
